.imagenLogoGlobant {
    width: 100%;
}

.btn-Controler{
    width: 160px;
    background-color: rgb(172, 252, 120);
    color: black;
    border-color: rgb(147, 247, 81);
}

.btn-Controler:hover {
    background-color: rgb(105, 202, 39);
    border-color: rgb(105, 202, 39);
}