.imagenLogoGlobant {
    width: 250px;
}

.contenedorImagen {
    background: url("../imagen/002-GlobantTeamGrafito.jpg");
    background-size: cover;
}

.small {
    color: black;
    text-align: center;
}

.tituloSobreNosotros {
    color: black;
    text-align: center;
}

.btn-Controler{
    width: 120px;
    background-color: rgb(172, 252, 120);
    color: black;
    border-color: rgb(147, 247, 81);
}

.btn-Controler:hover {
    background-color: rgb(105, 202, 39);
    border-color: rgb(105, 202, 39);
}